@import url(reset.css);

body {
    font-family:'Arial';
    font-size: 1rem;
    line-height: 140%;
}

.wrapper {
    max-width: 55%;
    padding: 0 2.5%;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    padding: 2%;
    font-weight: 600;
}

.tab-item {
    border-top: 0.1rem solid gray;
    padding: 1% 3%;
}

.tab-item input {
    display: none;
}

.tab-item label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    z-index: 100;
}

.tab-icon {
    height: 1.5rem;
    display: none;
}

.tab-content {
    display: flex;
    width: 100%;
}

.tab-content img{
    height: 0;
    overflow: hidden;
    transition: height 1s ease;
    margin: 0 auto;
}

.tab-item input[name='tab-radio']:checked ~ .tab-content img,
.tab-item label:hover + .tab-content img{
    height: 20rem;
    overflow: auto;
}
