@import url(reset.css);

body {
    font-family:'Arial';
    font-size: 1em;
    line-height: 140%;
}

.wrapper {
    max-width: 55%;
    padding: 0 2.5%;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    padding: 2%;
    font-weight: 600;
}

.tab-item {
    border-top: 0.1em solid gray;
    padding: 1% 3%;
}

.tab-item label {
    display: block;
    cursor: pointer;
    width: 100%;
    z-index: 100;
}

.tab-item input {
    display: none;
}

.tab-content {
    display: block;
    width: 100%;
    transition: height 1s ease;
    height: 0;
    overflow: hidden;
}

.tab-item input[name='tab-radio'] + .tab-content {
    height: 0;
    overflow: hidden;
}

.tab-item label:hover + .tab-content {
    overflow: auto;
    height: 5em;
}
