@import url(reset.css);

:root {
    --primary-color: #00B6BA;
    --green-color: #00D448;
    --semi-dark-color: #141B22;
    --dark-color: #2C3232;
    --light-color: #ffffff;
    --semi-light-color: #dedfe067;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 140%;
    background: var(--light-color);
}

.wrapper {
    max-width: 58.75rem;
    padding: 0 2.5%;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    padding: 2%;
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
}

.tab-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tab-item {
    border-radius: 1rem;
    background: var(--semi-light-color);
    padding: 0 3%;
    cursor: pointer;
    opacity: 1;
    transition: opacity .5s ease;
}

.tab-item input {
    display: none;
}

.tab-item label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100;
    font-weight: 600;
    cursor: pointer;
    color: var(--primary-color);
    transition: transform .5s ease;
}

.tab-icon {
    opacity: 0;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;

    background:
        linear-gradient(var(--dark-color) 0 0),
        linear-gradient(var(--dark-color)  0 0);
    background-position: center;
    background-size: 50% 0.1rem, 0.1rem 50%;
    background-repeat: no-repeat;
    transition: opacity .5s ease-in-out;
    transition: transform .5s ease;
}

.tab-content {
    display: flex;
    width: 100%;
    padding: 1rem;
}

.tab-content img{
    height: 0;
    overflow: hidden;
    transition: height 1s ease;
    margin: 0 auto;
    border-radius: 10px;
}

.tab-input:checked~.tab-content img{
    height: 20rem;
    overflow: auto;
}

.tab-item input:checked+label>.tab-icon {
    background-size: 50% 0.1rem, 0rem 50%;
    transition: transform .5s ease;
}

.tab-item input:checked+label {
    color: var(--dark-color);
    transition: transform .5s ease;
}

.tab-item:active {
    opacity: .5;
    transition: opacity .5s ease;
}

@media screen and (min-width: 120rem) {
    .tab-item:hover .tab-content img{
        height: 20rem;
        overflow: auto;
    }
    .tab-list:hover .tab-icon {
        opacity: 1;
        transition: all .5s ease;
    }
    .tab-item:hover .tab-icon {
        background-size: 50% 0.1rem, 0rem 50%;
        transition: transform .5s ease;
    }
    .tab-list:hover .tab-item label {
        color: var(--dark-color);
        transition: transform .5s ease;
    }
}

@media screen and (max-width: 51.25rem) {
    .wrapper {  
        padding: 0 2rem;
    }

    .tab-input:checked~.tab-content img,
    .tab-item label:hover+.tab-content img {
        height: 15rem;
    }

    .tab-icon {
        opacity: 1;
        width: 3rem;
        height: 3rem;
    }

    h1 {
        font-size: 2.2rem;
    }

    .tab-item label {
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 20rem) {
    .wrapper {  
        padding: 0 1rem;
    }

    .tab-input:checked~.tab-content img,
    .tab-item label:hover+.tab-content img {
        height: 12rem;
    }

    .tab-icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    h1 {
        font-size: 1.5rem;
        padding-bottom: 5%;
    }

    .tab-item label {
        font-size: 0.85rem;
    }
}