@import url(reset.css);

body {
    font-family: 'Arial';
    font-size: 1rem;
    line-height: 140%;
}

.wrapper {
    max-width: 55%;
    padding: 0 2.5%;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    padding: 2%;
    font-weight: 600;
}

.tab-item {
    border-top: 0.1rem solid gray;
    padding: 0 3%;
}

.tab-item input {
    display: none;
}

.tab-item label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    z-index: 100;
}

.tab-icon {
    opacity: 0;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;

    background:
        linear-gradient(#000 0 0),
        linear-gradient(#000 0 0);
    background-position: center;
    background-size: 50% 0.1rem, 0.1rem 50%;
    background-repeat: no-repeat;
    transition: opacity .5s ease-in-out;
    transition: transform .3s ease;
}

.tab-content {
    display: flex;
    width: 100%;
}

.tab-content img {
    height: 0;
    overflow: hidden;
    transition: height 1s ease;
    margin: 0 auto;
}

.tab-input:checked~.tab-content img,
.tab-item label:hover+.tab-content img {
    height: 20rem;
    overflow: auto;
}
.tab-list:hover .tab-icon{
    opacity: 1;
}
.tab-item:hover .tab-icon {
    transform: rotate(45deg);
    transition: transform .3s ease;
}
.tab-item input:checked + label > .tab-icon {
    transform: rotate(45deg);
    transition: transform .3s ease;
}
